<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
   <div class="container-fluid m-2">
      <a class="navbar-brand" href="/">&quot;FUWAFUWA FANMADE T1 CALENDAR&quot;</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li>
               <a class="nav-link" th:href="@{/question/list/qna}">자유게시판</a>
            </li>
             <li>
               <a class="nav-link" th:href="@{/question/list/calendar}">일정보기</a>
            </li>
            <li class="nav-item">
               <!--페이지전환 x-->
               <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
               <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/signup}">회원가입</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/profile}">마이 페이지</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" sec:authorize="hasRole('ADMIN')" th:href="@{/user/userManage}">회원관리</a>
            </li>
         </ul>
      </div>
   </div>
</nav>