<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
		<div class="my-3 border bottom">
			<div>
				<h4>회원탈퇴</h4>
			</div>
		</div>
		<form th
    <form th:action="@{/user/resign}" th:object="${resignForm}" method="post">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
          <div class="mb-3">
            <label for="password" class="form-label">사용자 비밀번호 재확인</label>
            <input type="password" th:field="*{password}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">회원탈퇴 완료</button>
    </form>
</div>
</html>