<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
		<div class="my-3 border bottom">
			<div>
				<h4>비밀번호 변경</h4>
			</div>
		</div>
		<form th
    <form th:action="@{/user/updatepassword}" th:object="${updatePasswordForm}" method="post">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
         <div class="mb-3">
            <label for="email" class="form-label">사용자 이메일</label>
            <input type="email" th:field="*{email}" class="form-control">
        </div>
          <div class="mb-3">
            <label for="password1" class="form-label">현재 비밀번호</label>
            <input type="password" th:field="*{password1}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">변경할 비밀번호</label>
            <input type="password" th:field="*{password2}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">비밀번호 변경</button>
    </form>
</div>
</html>