<html layout:decorate="~{layout}">
   <div layout:fragment="content" class="container my-3">
      <h1 class="mb-5">회원관리</h1>
      <section class="mb-3">
         
      <div class = "row my-3">
      <div class="col-6">
      <h4 "border-bottom-dark">회원목록</h4>
      </div>
      <div class="col-6">
         <div class="input-group">
            <input type="text" id="search_kw" class="form-control" th:value="${kw}">
            <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
         </div>
      </div>
   </div>
         <div class="card py-3 px-3">
            <th:block th:each="user,loop: ${userList}">
               <div class="row">
                  <div class="col-sm-3 my-3">
                  <span class="mx-3" th:text="${user.id}"></span>
                  <span class="mx-3" th:text="${user.username}"></span>
                  <span class="mx-3" th:text="${user.email}"></span>
                  </div>
                  <div class="col-sm-9">
                  <button th:onClick="openModal([[${user.username}]])" class="btn btn-light btn-sm">회원 탈퇴</button>
                  </div>
               </div>
            </th:block>
         </div>
      </section>   
   <!-- 페이징처리 시작 -->
   <div th:if="${!userList.isEmpty()}">
      <ul class="pagination justify-content-center">
         <li class="page-item" th:classappend="${!userList.hasPrevious} ? 'disabled'">
            <!--<a class="page-link" th:href="@{|?page=${paging.number-1}|}">-->
            <a class="page-link" href="javascript:void(0)" th:data-page="${userList.number-1}">
               <span>이전</span>
            </a>
         </li>
         <li th:each="page: ${#numbers.sequence(0, userList.totalPages-1)}"
            th:if="${page >= userList.number-5 and page <= userList.number+5}"
            th:classappend="${page == userList.number} ? 'active'" class="page-item">
            <!--<a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>-->
            <a th:text="${page}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
         </li>
         <li class="page-item" th:classappend="${!userList.hasNext} ? 'disabled'">
            <!--<a class="page-link" th:href="@{|?page=${paging.number+1}|}">-->
            <a class="page-link" href="javascript:void(0)" th:data-page="${userList.number+1}">
               <span>다음</span>
            </a>
         </li>
      </ul>
   </div>
   <!-- 페이징처리 끝 -->
   
      <!--회원삭제 모달-->
<div class="modal" tabindex="-1" id="resignModal">
  <div class="modal-dialog">
     <input type="hidden" value="" id="usernameId">
    <div class="modal-content">
      <div class="modal-body">
        <p><span id="username" text=""></span> : 이 회원을 탈퇴시키겠습니까?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:onclick="closeModal()">아니오</button>
        <button type="button" class="btn btn-primary" th:onClick="resign()">네</button>
      </div>
    </div>
  </div>
</div>


      <form th:action="@{/user/userManage}" method="get" id="searchForm">
      <!--name이 request param으로 전송됨-->
       <input type="hidden" id="kw" name="kw" th:value="${kw}">
      <input type="hidden" id="page" name="page" th:value="${userList.number}">
       </form>

   </div>
   
   
   
   <script layout:fragment="script" type ='text/javascript'>
   
      var header = $("meta[name='_csrf_header']").attr('content');
      var token = $("meta[name='_csrf']").attr('content');
   
   function resign(){
      
     var userName= document.getElementById('usernameId').value;
     console.log(userName);
      
      $.ajax({
         url:"/user/userManage/resign"+"/"+userName,
         method:"get",
         contentType:"application/json",
         beforeSend : function (xhr){
            xhr.setRequestHeader(header,token);
           },
         success:function(response){
            location.reload();
         },
         error : function(){
            alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            
         }
      });
      
   }
   
        function openModal(username) {
         document.getElementById('usernameId').value = username;
         console.log( document.getElementById('usernameId').value);
         document.getElementById('username').innerText=username;
         document.getElementById('resignModal').style.display = 'block';

  }
  

  function closeModal() {
    document.getElementById('resignModal').style.display = 'none';
  }
  
     const page_elements = document.getElementsByClassName("page-link");
   Array.from(page_elements).forEach(function(element){
      element.addEventListener('click', function(){
         document.getElementById('page').value=this.dataset.page;
         document.getElementById('searchForm').submit();
      });
   });
   
   const btn_search1 = document.getElementById("btn_search");
   btn_search.addEventListener('click', function(){
      document.getElementById('kw').value = document.getElementById('search_kw').value;
      document.getElementById('searchForm').submit();   
   });
  
   </script>
</html>